:root {
  --primary: #2e86de;
  --secondary: #8395a7;
  --danger: #ff6b6b;
}

/*************
    BUTTONS
**************/

.btn {
  border: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:hover:before {
  background: rgba(0,0,0, .2);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn.primary {
  background: var(--primary);
}

.btn.secondary {
  background: var(--secondary);
}

.btn.danger {
  background: var(--danger);
}

.stop {
  display: none;
}

.reset {
  display: none;
}

/*************
    SCORE CARD
**************/

.score-card {
  display: none;
  padding: 10px 0;
}

/*************
    BOARD
**************/

.board {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.board .row div {
  background-color: var(--secondary);
  margin-bottom: 15px;
  height: 100px;
  width: 100px;
}

.board .row div.active {
  background-color: var(--danger);
}
